.slideshow {
  padding: 0 5rem;
  position: relative;

  @include respond(bp-larger) {
    padding: 0 1rem;
  }

  @include respond(bp-medium) {
    padding-bottom: 0;
  }

  &__control {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);

    @include respond(bp-medium) {
      display: none;
    }
  }

  &__control-btn {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba($color-primary, 0.5);
    margin: 1rem auto;
    cursor: pointer;

    &--active {
      width: 1.625rem;
      height: 1.625rem;
      background-color: $color-primary;
    }
  }

  &__slide {
    display: flex;

    &--1 {

    }

    &--2 {
      display: none;
    }

    &--3 {
      display: none;
    }
  }

  &__image-box {
    flex: 0 0 33.3333%;

    @include respond(bp-medium) {
      display: none;
    }
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__content-box {
    background-color: $color-secondary;
    flex: 0 0 66.6666%;

    display: flex;
    align-items: center;

    position: relative;

    @include respond(bp-medium) {
      flex: 0 0 100%;
    }


    &::after {
      position: absolute;
      content: "";
      width: 50%;
      height: 2px;
      left: 12.5rem;
      bottom: 3.75rem;
      background-color: $color-primary;

      @include respond(bp-large) {
        display: none;
      }
    }
  }

  &__discount-tag {
    position: absolute;
    top: 7rem;
    left: -6.25rem;
    width: 12.5rem;
    height: 12.5rem;
    background-color: $color-primary;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(bp-larger) {
      left: -4.5rem;
      width: 9rem;
      height: 9rem;
    }

    @include respond(bp-large) {
      top: 1rem;
      left: -10rem;
    }

    @include respond(bp-medium) {
      display: none;
    }
  }

  &__discount-text {
    color: $color-white;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__text-box {
    max-width: 68rem;
    margin-left: 10rem;
    padding: 0 2.5rem;

    @include respond(bp-larger) {
      padding: 1rem 2.5rem;
      margin-left: 5rem;
    }

    @include respond(bp-large) {
      margin-left: 2rem;
    }

    @include respond(bp-medium) {
      padding: 2.5rem;
    }

    @include respond(bp-smallest) {
      padding: 1rem .5rem;
    }
  }

  &__heading {
    animation: moveInBottom 1s ease-out;

    @include respond(bp-larger) {
      font-size: 6rem;
      margin-bottom: .5rem;
    }

    @include respond(bp-large) {
      font-size: 5rem;
    }

    @include respond(bp-medium) {
      margin-bottom: 2rem;
    }

    @include respond(bp-smallest) {
      font-size: 4rem;
    }
  }

  .paragraph {
    animation: moveInBottom 1s ease-out .5s;
    animation-fill-mode: backwards;

    @include respond(bp-larger) {
      font-size: 1.4rem;
    }

    @include respond(bp-large) {
      margin-bottom: 1rem;
    }

    @include respond(bp-medium) {
      margin-bottom: 2rem;
      font-size: 1.6rem;
    }
  }

  .btn {
    animation: moveInBottom 1s ease-out .75s;
    animation-fill-mode: backwards;

    @include respond(bp-larger) {
      margin-bottom: 2rem;
    }
  }

  &__social-box {
    height: 3rem;
    width: 11rem;
    position: absolute;
    right: 2.5rem;
    bottom: 2.5rem;

    display: flex;
    justify-content: space-between;

    @include respond(bp-small) {
      display: none;
    }
  }

  &__icon-box {
    border: 1px solid rgba($color-grey, 0.7);
    padding: .5rem;
    text-decoration: none;
    color: rgba($color-grey, 0.7);
    transition: all .4s;

    display: flex;
    justify-content: center;
    align-self: center;

    &:hover {
      color: $color-primary;
      border-color: $color-primary;
    }

    i {
      font-size: 1.8rem;
    }
  }
}