.container {
  max-width: 117rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.margin-bottom-sm { margin-bottom: 2rem }
.margin-bottom-md { margin-bottom: 4rem }
.margin-bottom-lg { margin-bottom: 6rem }