.products {
  padding: 10rem 0;
}

.featured {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(bp-medium) {
    flex-direction: column;
  }

  &__box {
    flex: 0 0 48%;
    position: relative;
    overflow: hidden;
    box-shadow: .3rem .3rem .5rem rgba(0, 0, 0, .2);

    @include respond(bp-medium) {
      margin: 2rem 0;
      width: 90%;
    }

    @include respond(bp-small) {
      margin: 2rem 0;
      width: 100%;
    }

    &:hover .featured__image {
      transform: scale(1.2);
    }
  }

  &__image {
    display: block;
    width: 100%;
    transition: all .5s;
  }

  &__text-box {
    position: absolute;
    top: 4rem;
    left: 3rem;
  }

  &__link {
    color: $color-grey;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all .4s;

    @include respond(bp-smallest) {
      color: $color-dark;
    }

    &:hover {
      color: $color-primary;
    }

    i {
      font-size: 1.2rem;
    }
  }
}

.collection {
  display: flex;
  margin-top: 10rem;
  position: relative;

  @include respond(bp-large) {
    justify-content: space-around;
  }

  @include respond(bp-medium) {
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  @include respond(bp-small) {
    width: 85%;
  }

  &__categories {
    display: flex;
    flex-direction: column;

    width: 22%;
    border: 1px solid rgba($color-grey, 0.3);

    @include respond(bp-large) {
      width: 25%;
    }

    @include respond(bp-medium) {
      width: 100%;
    }
  }

  &__title {
    background-color: rgba($color-grey, 0.2);
    padding: 2rem;
    text-transform: uppercase;
  }

  &__item {
    font-size: 1.8rem;
    color: $color-grey;
    text-decoration: none;
    font-weight: 600;
    border-top: 1px solid rgba($color-grey, 0.3);
    padding: 1.5rem 0;
    transition: all .4s;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    &--current {
      color: $color-white;
      background-color: $color-primary;
    }

    &:hover {
      background-color: lighten($color-primary, 20%);
      color: $color-grey;
    }
  }

  &__group {
    display: flex;
    justify-content: space-evenly;

    @include respond(bp-medium) {
      justify-content: space-between;
    }

    @include respond(bp-small) {
      flex-direction: column;
    }
  }

  &__item-box {
    flex: 0 0 29%;
    text-align: center;
    position: relative;

    &:hover .collection__image {
      transform: scale(1.1);
    }

    &:nth-of-type(3) {
      @include respond(bp-large) {
        display: none;
      }
    }

    @include respond(bp-large) {
      flex: 0 0 44%;
    }

    @include respond(bp-medium) {
      flex: 0 0 47.5%;
      margin-top: 3.5rem;
    }
  }

  &__image-box {
    width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 100%;
    transition: all .4s;

    &:hover {
      cursor: pointer;
    }
  }

  &__item-name {
    font-size: 2rem;
    color: $color-dark;
    text-decoration: none;
    font-weight: 600;
  }

  &__rating-box {
    margin-bottom: 1rem;

    i {
      font-size: 1.2rem;
      color: orange;
    }
  }

  &__price-box {
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__new-price {
    margin-right: .5rem;
    color: $color-primary;
  }

  &__old-price {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: .2rem;
      width: 100%;
      left: 0;
      top: 45%;
      background-color: rgba(black, 0.5);
    }
  }

  &__slide-control {
    position: absolute;
    top: 40%;
    right: -4rem;
    transform: translateY(-50%);

    @include respond(bp-larger) {
      right: -1.5rem;
    }

    @include respond(bp-medium) {
      display: none;
    }
  }

  &__next-slide,
  &__previous-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $color-primary;
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    border: 1px solid $color-primary;
    border-radius: 50%;
    transition: all .4s;

    @include respond(bp-larger) {
      font-size: 1.2rem;
      height: 3rem;
      width: 3rem;
    }

    &:hover {
      color: $color-white;
      background-color: $color-primary;
      cursor: pointer;
    }
  }

  &__next-slide {
    padding-left: .3rem;
  }

  &__previous-slide {
    padding-right: .3rem;
  }

  &__discount-tag {
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    background-color: $color-primary;
    z-index: 900;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__discount-text {
    color: $color-white;
    font-size: 1.8rem;
    font-weight: 600;
  }

}
