.services {
  padding: 10rem 2rem;
  background-color: $color-secondary;


  &__text-box {
    max-width: 58rem;
    padding: 2rem 2rem 2rem 0;
  }

  &__heading {
    color: $color-primary;
    font-size: 1.8rem;
    font-weight: 400;
    position: relative;
    margin-left: 8rem;

    &::before {
      content: "";
      position: absolute;
      top: 48%;
      left: -8rem;
      height: 1px;
      width: 7rem;
      background-color: $color-primary;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__read-more {
    flex: 0 0 49%;
  }

  &__image-box {

  }

  &__image {
    width: 100%;
    display: block;
  }

  &__services-box {
    flex: 0 0 49%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }

  &__service {
    border: 1px solid rgba($color-grey, 0.3);
    background-color: $color-white;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &--2 {
      position: relative;
      top: 3rem;
    }

    &--4 {
      position: relative;
      top: 3rem;
    }

    i {
      color: $color-primary;
      font-size: 4.5rem;
      margin-bottom: 2rem;
    }
  }

  &__name {
    color: $color-primary;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.6rem;
  }
}
