.footer {
  padding: 0 2rem 2rem 2rem;
  background: url('../images/footer-bg.png');

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    flex: 0 0 20%;

    display: flex;
    flex-direction: column;
  }

  &__social {
    display: flex;
    justify-content: space-between;

    width: 12rem;
  }

  &__social-link {
    font-size: 2.3rem;
    color: $color-primary;
    text-decoration: none;

    &:hover {
      color: darken($color-primary, 10%);
    }
  }

  &__link {
    color: $color-grey;
    font-size: 1.7rem;
    text-decoration: none;
    padding: .75rem 0;
    transition: all .4s;

    &:hover {
      color: $color-primary;
    }
  }

  &__contact-box {
    font-size: 1.6rem;
    display: flex;
    padding: 1.25rem 0;

    p:first-of-type {
      margin-right: 1rem;
    }
  }
}

.credits {
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 23rem;
  margin-top: 10rem;

  a {
    text-decoration: none;
    color: $color-primary;
  }
}