.navigation {
  display: flex;
  position: relative;

  align-items: center;

  &__label {
    font-size: 3rem;
    margin-right: 2rem;
    cursor: pointer;
    display: none;

    @include respond(bp-medium) {
      display: block;
    }
  }

  &__toggle {
    display: none;

    &:checked + .navigation__list {
      display: flex;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    list-style: none;
    font-weight: 700;

    @include respond(bp-medium) {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 6.5rem;
      left: -13rem;
      border: 1px solid lighten($color-grey, 30%);
    }
  }

  &__item {
    margin-left: 3rem;

    @include respond(bp-large) {
      margin-left: 2.2rem;
    }

    @include respond(bp-medium) {
      margin-left: 0;
      width: 100%;
      text-align: center;
      display: inline-block;
      z-index: 999;

      &:not(:last-of-type) {
        border-bottom: 1px solid lighten($color-grey, 30%);
      }
    }
  }

  &__link {
    font-size: 1.6rem;
    color: $color-grey;
    text-decoration: none;
    transition: all .4s;

    @include respond(bp-medium) {
      padding: 1.2rem 6rem;
      width: 100%;
      display: inline-block;
      background-color: $color-white;
    }

    &:hover {
      color: $color-primary;
    }

    &--active {
      color: $color-primary;
    }
  }
}