.navigation {
  display: flex;

  &__list {
    display: flex;
    align-items: center;

    list-style: none;
    font-weight: 700;
  }

  &__item {
    margin-left: 3rem;
  }

  &__link {
    font-size: 1.6rem;
    color: $color-grey;
    text-decoration: none;
    transition: all .4s;

    &:hover {
      color: $color-primary;
    }

    &--active {
      color: $color-primary;
    }
  }
}